.selection {
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;

	.leavesBackground {
		height: 100%;
		width: auto;
		position: fixed;
		right: 0;
		mix-blend-mode: soft-light;

		@media screen and (max-width: 1024px) {
			right: -80px;
		}
	}

	.awardCupBackground {
		height: 100%;
		width: auto;
		position: fixed;
		mix-blend-mode: soft-light;
		opacity: 0.7;

		@media screen and (max-width: 1024px) {
			height: 50%;
			top: 25%;
			transform: translateX(-20%);
			justify-self: flex-start;
		}
	}

	&Container {
		box-sizing: content-box;
		padding: 0 3%;
		position: relative;
		z-index: 4;
		max-width: 1325px;
		width: 100%;
		margin: auto auto;
		display: flex;
		flex-direction: column;
		gap: 32px;
	}

	&Title {
		width: 643px;
		height: auto;
	}

	&Content {
		width: 100%;
		height: 550px;
		display: flex;
		align-items: stretch;
	}

	&ApplicantsList {
		margin-top: 16px;
		flex-grow: 1;
		overflow-y: scroll;
		display: flex;
		flex-direction: column;
		gap: 16px;
		-ms-overflow-style: none; /* IE и Edge */
		scrollbar-width: none;

		&::-webkit-scrollbar {
			display: none;
		}

		&Container {
			display: flex;
			justify-content: flex-start;
			flex-direction: column;
			padding: 24px 16px 24px 0px;
			width: 40%;

			@media screen and (max-width: 1200px) {
				width: 35%;
			}
		}
	}

	&Nominations {
		display: flex;
		width: 100%;
	}

	&Nomination {
		width: 50%;
		background-color: transparent;
		padding: 16px 24px;
		color: #efb134;
		font-family: 'Adderley', sans-serif;
		font-size: 22px;
		font-weight: 700;
		line-height: normal;
		font-variant: small-caps;
		letter-spacing: 1.2px;
		border: 1px solid #efb134;
		transition: background-color 0.3s, color 0.3s linear;
		cursor: pointer;

		&Left {
			border-radius: 8px 0px 0px 8px;
		}

		&Right {
			border-radius: 0px 8px 8px 0px;
		}

		&Active {
			background-color: #efb134;
			color: #720103;
		}
	}

	&Applicant {
		&InfoContainer {
			width: 65%;
			padding: 24px;
			background-color: #fff;
			border-radius: 24px;
			font-family: 'Adderley', sans-serif;
			display: flex;
			flex-direction: column;
		}

		&Content {
			display: flex;
			justify-content: space-between;
			gap: 10px;
		}

		&Avatar {
			display: block;
			width: 224px;
			height: 256px;
			border-radius: 16px;
			object-fit: cover;

			@media screen and (max-width: 1024px) {
				width: 180px;
			}
		}

		&Video {
			height: 256px;
			width: 485px;
			border: none;
			border-radius: 16px;

			@media screen and (max-width: 1200px) {
				width: 400px;
			}
		}

		&FIO {
			margin-top: 20px;
			font-size: 26px;
			font-weight: 700;
			line-height: normal;
			letter-spacing: 0.72px;
			text-transform: capitalize;
		}

		&Description {
			max-height: 85px;
			overflow-y: scroll;
			margin-top: 16px;
			color: #6f6f6f;
			font-size: 16px;
			font-weight: 400;
			line-height: normal;
			letter-spacing: 0.42px;

			&Small {
				margin-top: 8px;
				font-size: 16px;
				font-weight: 400;
				line-height: normal;
				letter-spacing: 0.48px;
				text-transform: capitalize;
			}
		}
	}

	&Annotation {
		color: #ededed;
		font-family: 'Adderley', sans-serif;
		font-size: 14px;
		font-weight: 400;
		line-height: normal;
		letter-spacing: 0.42px;
	}

	&LoaderContainer {
		width: 100%;
		height: 532px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&Loader {
		width: 80px;
		height: 80px;
		border-radius: 50%;
		position: relative;
		animation: rotate 1.3s linear infinite;
	}
	&Loader::before {
		content: '';
		box-sizing: border-box;
		position: absolute;
		inset: 0px;
		border-radius: 50%;
		border: 6px solid #efb134;
		animation: prixClipFix 2s linear infinite;
	}

	@keyframes rotate {
		100% {
			transform: rotate(360deg);
		}
	}

	@keyframes prixClipFix {
		0% {
			clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
		}
		25% {
			clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
		}
		50% {
			clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
		}
		75% {
			clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
		}
		100% {
			clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
		}
	}
}
