@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;0,800;1,400&display=swap');

@font-face {
	font-family: 'Adderley';
	src: url('./fonts/AdderleyRegular.otf') format('opentype');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Adderley';
	src: url('./fonts/AdderleyBold.otf') format('opentype');
	font-style: normal;
	font-weight: 700;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Adderley', sans-serif;
}

body {
	width: 100vw;
	max-height: 100vh;
	height: 100svh;
	min-width: 300px;
	background: linear-gradient(135deg, #7a0000 7.96%, #4f010a 92.38%);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	overflow-x: hidden;
}

#root {
	height: 100%;
	width: 100%;
	overflow: hidden;
}
